.table tr th:nth-child(1), .table tr th:nth-child(2) {
    width: 38px;
}

.table tr th:nth-child(3) {
    text-align: center;
}

.text-align-center {
    text-align:center;
}

.default-layout {
    margin:15px;
    padding: 0px;
}

.inline {
	display: inline-block;
}

/*tr td {
	border: 1px solid red;
}*/

tr, tr td {
	border: 1px solid #c6c6c6;
}

.table-list {
    text-align: center;
    width: 3%;
}

.table-list-wfop td:nth-child(1) {
    width: 5%;
    text-align: center;
}
.table-list-wfop td:nth-child(2) {
    width: 5%;
    text-align: center;
}

.table-list-wfop td input[type="input"] {
    border:0;
    text-align: left;
    width: 100% !important;
}

.authorize-tr td:nth-child(3) {
    padding:0px;
}

.authorize-tr td:nth-child(3) div{
    width: 100%;
}

.authorize-tr td:nth-child(3) div button{
    width: 100%;
    border-radius: 0;
}

.caret {
    float: right;
    margin-top: 9px;
}

.panel-title div {
    float: right;
    margin-right: 10%;
}

.panel-title div span {
    margin-right: 5px;
}

.panel-title div button {
    vertical-align: middle;
}