<div class="row"><h2 class="text-align-center">授权信息维护表</h2></div>
<div class="default-layout"><span>授权人:</span>  <span>阿木</span></div>
<div class="row default-layout">
    <span>流程名称</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowDropDown" data-toggle="dropdown">
            {{currentWorkFlowNameDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowDropDown">
            <li role="presentation" ng-repeat="item in workFlowNameArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowNameChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>流程大类</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowbCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowbCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowbCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowbCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowbCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>流程小类</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowlCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowlCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowlCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>我方公司</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowlCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowlCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowlCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <button class="btn btn-default" type="button" ng-click="search(currentWorkFlowNameDisplay, currentWorkFlowbCategoryDisplay, currentWorkFlowlCategoryDisplay)">搜索</button>
    <button class="btn btn-default" type="button" ng-click="reset()">重置</button>
    <button class="btn btn-default" type="button" ng-click="export()">导出</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#collapseOne">
                点击我进行展开，再次点击我进行折叠。第 1 部分
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <table class="table table-list-wfop">
            <thead >
                <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
                 <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
                 <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
                 <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#collapseOne1">
                点击我进行展开，再次点击我进行折叠。第 1 部分
            </a>
        </h4>
    </div>
    <div id="collapseOne1" class="panel-collapse collapse">
        <table class="table table-list-wfop">
            <thead >
                <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
                 <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
                 <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
                 <tr>
                    <td>序号</td>
                    <td>全选</td>
                    <td>流程名</td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                </tr>
            </thead>
        </table>
    </div>
</div>