<div class="row"><h2 class="text-align-center">授权信息维护表</h2></div>
<div class="default-layout"><span>授权人:</span>  <span ng-bind="userName"></span></div>
<div class="row default-layout">
    <span>流程名称</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowDropDown" data-toggle="dropdown">
            {{currentWorkFlowNameDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowDropDown">
            <li role="presentation" ng-repeat="item in workFlowNameArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowNameChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>流程大类</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowbCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowbCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowbCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowbCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowbCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>流程小类</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowlCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowlCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowlCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span ng-if="role == 2">我方公司</span>
    <div class="dropdown inline" ng-if="role == 2">
        <button class="btn btn-default dropdown-toggle" type="button" id="myCompany" data-toggle="dropdown">
            {{currentCompanyDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myCompany">
            <li role="presentation" ng-repeat="item in companyArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="companyChecked($index)">{{item.name}}</a></li>
        </ul>
    </div>
    <button class="btn btn-default" type="button" ng-click="search(currentWorkFlowNameDisplay, currentWorkFlowbCategoryDisplay, currentCompanyDisplay)">搜索</button>
    <button class="btn btn-default" type="button" ng-click="reset()">重置</button>
    <button class="btn btn-default" type="button" ng-click="export()">导出</button>
</div>
<div class="panel panel-default" ng-repeat="authorize in authorizeArray track by $index">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#collapse{{$index}}">
                {{authorize.workFlowName}}
            </a>
            <div>
                <span>全部</span><input type="input" ng-model="authorize.amount">元
                <button type="button" class="btn btn-default" ng-click="setDefVaule($index)">
                    确定
                </button>
            </div>
        </h4>
    </div>
    <div id="collapse{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                <button type="button" class="btn btn-default" ng-click="add($index)">追加纪录</button>
                <button type="button" class="btn btn-default" ng-click="save($index)">保存</button>
            </div>
        </div>
        <table class="table table-list-wfop" style="text-align: center;">
            <thead>
                <tr style="background: #eee;">
                    <td></td>
                    <td></td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                    <td ng-if="role == 2">我方公司</td>
                    <td>金额</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in authorize.authorize track by $index" class="authorize-tr">
                    <td>{{$index + 1}}</td>
                    <td></td>
                    <td class="text-align-center">
                        <div class="dropdown inline" ng-if="item.edited">
                            <button class="btn btn-default dropdown-toggle" type="button" id="workFlowbCategoryDropDown{{$index + 1}}" data-toggle="dropdown">
                                {{item.bCategory}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowbCategoryDropDown{{$index + 1}}">
                                <li role="presentation" ng-repeat="option in getbCategoryOptions(authorize.workFlowName) track by $index"><a role="menuitem" tabindex="{{$index}}"
                                ng-click="changeWorkFlowbCategoryOption(item, option)">{{option}}</a></li>
                            </ul>
                        </div>                    
                        <span ng-if="!item.edited">{{item.bCategory}}</span>
                    </td>
                    <td class="text-align-center">
                        <div class="dropdown inline" ng-if="item.edited">
                            <button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown{{$index + 1}}" data-toggle="dropdown">
                                {{item.lCategory}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown{{$index + 1}}">
                                <li role="presentation" ng-repeat="option in getlCategoryOptions(authorize.workFlowName) track by $index"><a role="menuitem" tabindex="{{$index}}"
                                ng-click="changeWorkFlowlCategoryOption(item, option)">{{option}}</a></li>
                            </ul>
                        </div>                    
                        <span ng-if="!item.edited">{{item.lCategory}}</span>
                    </td>
                     <td class="text-align-center" ng-if="role == 2">
                        <div class="dropdown inline" ng-if="item.edited">
                            <button class="btn btn-default dropdown-toggle" type="button" id="companyDropDown{{$index + 1}}" data-toggle="dropdown">
                                {{item.company}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="companyDropDown{{$index + 1}}">
                                <li role="presentation" ng-repeat="option in companyArray track by $index"><a role="menuitem" tabindex="{{$index}}"
                                ng-click="changeCompanyOption(item, option.name)">{{option.name}}</a></li>
                            </ul>
                        </div>                    
                        <span ng-if="!item.edited">{{item.company}}</span>
                    </td>
                    <td class="text-align-center">
                        <input ng-change="edited($index)" type="input" ng-model="item.amount" ng-disable="!item.editer" style="border: 0;width:100%;text-align: center;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>