<div class="row"><h2 class="text-align-center">授权信息维护表</h2></div>
<div class="default-layout"><span>授权人:</span>  <span>阿木</span></div>
<div class="row default-layout">
    <span>流程名称</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowDropDown" data-toggle="dropdown">
            {{currentWorkFlowNameDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowDropDown">
            <li role="presentation" ng-repeat="item in workFlowNameArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowNameChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>流程大类</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowbCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowbCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowbCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowbCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowbCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>流程小类</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowlCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowlCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowlCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <span>我方公司</span>
    <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown" data-toggle="dropdown">
            {{currentWorkFlowlCategoryDisplay}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown">
            <li role="presentation" ng-repeat="item in workFlowlCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowlCategoryChecked($index)">{{item}}</a></li>
        </ul>
    </div>
    <button class="btn btn-default" type="button" ng-click="search(currentWorkFlowNameDisplay, currentWorkFlowbCategoryDisplay, currentWorkFlowlCategoryDisplay)">搜索</button>
    <button class="btn btn-default" type="button" ng-click="reset()">重置</button>
    <button class="btn btn-default" type="button" ng-click="export()">导出</button>
</div>
<div class="panel panel-default" ng-repeat="authorize in authorizeArray track by $index">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#collapse{{$index}}">
                {{authorize.name}}
            </a>
            <div>
                <span>全部</span><input type="input">元
                <button type="button" class="btn btn-default" ng-click="search(searchText)">
                    确定
                </button>
            </div>
        </h4>
    </div>
    <div id="collapse{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                <button type="button" class="btn btn-default" ng-click="add($index)">追加纪录</button>
                <button type="button" class="btn btn-default" ng-click="save($index)">保存</button>
            </div>
        </div>
        <table class="table table-list-wfop" style="text-align: center;">
            <thead>
                <tr style="background: #eee;">
                    <td></td>
                    <td></td>
                    <td>流程大类</td>
                    <td>流程小类</td>
                    <td>我方公司</td>
                    <td>金额</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in authorize.items" class="authorize-tr">
                    <td>{{item.index + 1}}</td>
                    <td></td>
                    <td class="text-align-center" ng-click="switch($index)">
                        <div class="dropdown inline">
                            <button class="btn btn-default dropdown-toggle" type="button" id="workFlowbCategoryDropDown{{item.index+1+'-'+$index}}" data-toggle="dropdown">
                                {{item.bCategory}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="workFlowbCategoryDropDown{{item.index+1+'-'+$index}}">
                                <li role="presentation" ng-repeat="item in workFlowbCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowbCategoryChecked($index)">{{item}}</a></li>
                            </ul>
                        </div>                    
                        <!-- <span>{{item.bCategory}}</span> -->
                    </td>
                    <td>{{item.lCategory}}</td>
                    <td>{{item.company}}</td>
                    <td>{{item.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>