<div class="row"><h2 class="text-align-center">财务授权信息查询表<h2></div>
<div class="row default-layout">
    <span>VP姓名</span>
    <div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="workFlowDropDown" data-toggle="dropdown">
			{{currentWorkFlowNameDisplay}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="workFlowDropDown">
			<li role="presentation" ng-repeat="item in workFlowNameArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowNameChecked($index)">{{item}}</a></li>
		</ul>
	</div>
	<span>流程大类</span>
	<div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="workFlowBCategoryDropDown" data-toggle="dropdown">
			{{currentWorkFlowBCategoryDisplay}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="workFlowBCategoryDropDown">
			<li role="presentation" ng-repeat="item in workFlowBCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowBCategoryChecked($index)">{{item}}</a></li>
		</ul>
	</div>
	<span>流程小类</span>
	<div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="workFlowLCategoryDropDown" data-toggle="dropdown">
			{{currentWorkFlowLCategoryDisplay}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="workFlowLCategoryDropDown">
			<li role="presentation" ng-repeat="item in workFlowLCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowLCategoryChecked($index)">{{item}}</a></li>
		</ul>
	</div>
	<button class="btn btn-default" type="button" ng-click="search(currentWorkFlowNameDisplay, currentWorkFlowBCategoryDisplay, currentWorkFlowLCategoryDisplay)">搜索</button>
	<button class="btn btn-default" type="button" ng-click="reset()">重置</button>
	<button class="btn btn-default" type="button" ng-click="export()">导出</button>
</div>