<div class="row"><h2 class="text-align-center">财务授权信息查询表<h2></div>
<div class="row default-layout">
    <span>VP姓名</span>
    <div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="vpDropDown" data-toggle="dropdown">
			{{checkedVp}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="vpDropDown">
			<li role="presentation" ng-repeat="item in vpArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="vpChecked($index)">{{item.name}}</a></li>
		</ul>
	</div>
	<span>流程名称</span>
    <div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="workFlowDropDown" data-toggle="dropdown">
			{{currentWorkFlowNameDisplay}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="workFlowDropDown">
			<li role="presentation" ng-repeat="item in workFlowNameArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowNameChecked($index)">{{item}}</a></li>
		</ul>
	</div>
	<span>流程大类</span>
	<div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="workFlowbCategoryDropDown" data-toggle="dropdown">
			{{currentWorkFlowbCategoryDisplay}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="workFlowbCategoryDropDown">
			<li role="presentation" ng-repeat="item in workFlowbCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowbCategoryChecked($index)">{{item}}</a></li>
		</ul>
	</div>
	<span>流程小类</span>
	<div class="dropdown inline">
		<button class="btn btn-default dropdown-toggle" type="button" id="workFlowlCategoryDropDown" data-toggle="dropdown">
			{{currentWorkFlowlCategoryDisplay}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="workFlowlCategoryDropDown">
			<li role="presentation" ng-repeat="item in workFlowlCategoryArray track by $index"><a role="menuitem" tabindex="{{$index}}" ng-click="workFlowlCategoryChecked($index)">{{item}}</a></li>
		</ul>
	</div>
	<button class="btn btn-default" type="button" ng-click="search(currentWorkFlowNameDisplay, currentWorkFlowbCategoryDisplay, currentWorkFlowlCategoryDisplay)">搜索</button>
	<button class="btn btn-default" type="button" ng-click="reset()">重置</button>
	<button class="btn btn-default" type="button" ng-click="export()">导出</button>
</div>

<!-- 列表 -->
<div class="panel panel-default default-layout">
  <!-- Table -->
  <table class="table">
  	<thead>
  		<tr>
  			<td>VP姓名</td>
  			<td>流程名称</td>
  			<td>流程大类</td>
  			<td>流程小类</td>
  			<td>我方公司</td>
  			<td>授权金额</td>
  		</tr>
  	</thead>
    <tbody>
      <tr ng-repeat="item in authorize track by $index">
        <td>{{item.name}}</td>
        <td>{{item.workFlowName}}</td>
        <td>{{item.bCategory}}</td>
        <td>{{item.lCategory}}</td>
        <td>{{item.company}}</td>
        <td>{{item.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>